@font-face {
  font-family: 'Uni Sans Heavy Italic';
  src: url("../fonts/uni-sans/UNI SANS HEAVY ITALIC-webfont.eot");
  src: url("../fonts/uni-sans/UNI SANS HEAVY ITALIC-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/uni-sans/UNI SANS HEAVY ITALIC-webfont.woff2") format("woff2"), url("../fonts/uni-sans/UNI SANS HEAVY ITALIC-webfont.woff") format("woff"), url("../fonts/uni-sans/UNI SANS HEAVY ITALIC-webfont.ttf") format("truetype"), url("../fonts/uni-sans/UNI SANS HEAVY ITALIC-webfont.svg#uni_sansheavy_italic_caps") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Uni Sans Heavy';
  src: url("../fonts/uni-sans/UNI SANS HEAVY-webfont.eot");
  src: url("../fonts/uni-sans/UNI SANS HEAVY-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/uni-sans/UNI SANS HEAVY-webfont.woff2") format("woff2"), url("../fonts/uni-sans/UNI SANS HEAVY-webfont.woff") format("woff"), url("../fonts/uni-sans/UNI SANS HEAVY-webfont.ttf") format("truetype"), url("../fonts/uni-sans/UNI SANS HEAVY-webfont.svg#uni_sansheavy_caps") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Uni Sans Italic';
  src: url("../fonts/uni-sans/UNI SANS THIN ITALIC-webfont.eot");
  src: url("../fonts/uni-sans/UNI SANS THIN ITALIC-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/uni-sans/UNI SANS THIN ITALIC-webfont.woff2") format("woff2"), url("../fonts/uni-sans/UNI SANS THIN ITALIC-webfont.woff") format("woff"), url("../fonts/uni-sans/UNI SANS THIN ITALIC-webfont.ttf") format("truetype"), url("../fonts/uni-sans/UNI SANS THIN ITALIC-webfont.svg#uni_sansthin_italic_caps") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Uni Sans Thin';
  src: url("../fonts/uni-sans/UNI SANS THIN-webfont.eot");
  src: url("../fonts/uni-sans/UNI SANS THIN-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/uni-sans/UNI SANS THIN-webfont.woff2") format("woff2"), url("../fonts/uni-sans/UNI SANS THIN-webfont.woff") format("woff"), url("../fonts/uni-sans/UNI SANS THIN-webfont.ttf") format("truetype"), url("../fonts/uni-sans/UNI SANS THIN-webfont.svg#uni_sansthin_caps") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/Light/OpenSans-Light.eot?v=1.1.0");
  src: url("../fonts/open-sans/Light/OpenSans-Light.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/open-sans/Light/OpenSans-Light.woff2?v=1.1.0") format("woff2"), url("../fonts/open-sans/Light/OpenSans-Light.woff?v=1.1.0") format("woff"), url("../fonts/open-sans/Light/OpenSans-Light.ttf?v=1.1.0") format("truetype"), url("../fonts/open-sans/Light/OpenSans-Light.svg?v=1.1.0#Light") format("svg");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/Regular/OpenSans-Regular.eot?v=1.1.0");
  src: url("../fonts/open-sans/Regular/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/open-sans/Regular/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), url("../fonts/open-sans/Regular/OpenSans-Regular.woff?v=1.1.0") format("woff"), url("../fonts/open-sans/Regular/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("../fonts/open-sans/Regular/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/Italic/OpenSans-Italic.eot?v=1.1.0");
  src: url("../fonts/open-sans/Italic/OpenSans-Italic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/open-sans/Italic/OpenSans-Italic.woff2?v=1.1.0") format("woff2"), url("../fonts/open-sans/Italic/OpenSans-Italic.woff?v=1.1.0") format("woff"), url("../fonts/open-sans/Italic/OpenSans-Italic.ttf?v=1.1.0") format("truetype"), url("../fonts/open-sans/Italic/OpenSans-Italic.svg?v=1.1.0#Italic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/Semibold/OpenSans-Semibold.eot?v=1.1.0");
  src: url("../fonts/open-sans/Semibold/OpenSans-Semibold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/open-sans/Semibold/OpenSans-Semibold.woff2?v=1.1.0") format("woff2"), url("../fonts/open-sans/Semibold/OpenSans-Semibold.woff?v=1.1.0") format("woff"), url("../fonts/open-sans/Semibold/OpenSans-Semibold.ttf?v=1.1.0") format("truetype"), url("../fonts/open-sans/Semibold/OpenSans-Semibold.svg?v=1.1.0#Semibold") format("svg");
  font-weight: bold;
  font-style: normal; }

html, body, .page {
  overflow-x: hidden;
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Uni Sans Thin', sans-serif;
  background-color: #fafafa; }

.page {
  overflow: hidden; }

.logo {
  margin: -150px 0 0 -300px;
  position: absolute;
  height: 300px;
  width: 600px;
  left: 50%;
  top: 50%; }

#buttons {
  background-color: #eee;
  padding: 2px 0px; }

.letter {
  fill: #666; }

.cls-3 {
  stroke: #666; }

.item-wrapper {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  padding: 2px 0;
  width: 25%; }

.item {
  background-color: #fff;
  text-decoration: none;
  line-height: 200px;
  text-align: center;
  font-size: 24px;
  display: block;
  height: 200px;
  color: #666; }
